# TiMOS-C-23.10.R1 cpm/x86_64 Nokia 7750 SR Copyright (c) 2000-2023 Nokia.
# All rights reserved. All use subject to applicable license agreements.
# Built on Thu Oct 26 20:12:19 UTC 2023 by builder in /builds/2310B/R1/panos/main/sros
# Configuration format version 23.10 revision 0
# Generated 2023-12-17T23:33:25.2+00:00 by admin from 172.31.255.29
# Last modified 2023-12-11T14:48:48.0+00:00 by admin (MD-CLI) from 172.31.255.29
# Last saved 2023-12-11T21:57:09.9+00:00 by admin from 172.31.255.29


/configure lag "lag-2" admin-state enable
/configure lag "lag-2" mode hybrid
/configure lag "lag-2" lacp mode active
/configure lag "lag-2" lacp administrative-key 32768
/configure lag "lag-2" port 1/1/c1/1 
/configure lag "lag-2" port 1/1/c2/1 
/configure policy-options policy-statement "export_all" entry 10 action action-type accept
/configure port 1/1/c1 admin-state enable
/configure port 1/1/c1 description "srl-1"
/configure port 1/1/c1 connector breakout c1-100g
/configure port 1/1/c1/1 admin-state enable
/configure port 1/1/c1/1 description "srl-1"
/configure port 1/1/c1/1 ethernet mode hybrid
/configure port 1/1/c1/1 ethernet hold-time up 30
/configure port 1/1/c1/1 ethernet lldp dest-mac nearest-bridge receive true
/configure port 1/1/c1/1 ethernet lldp dest-mac nearest-bridge transmit true
/configure port 1/1/c1/1 ethernet lldp dest-mac nearest-bridge tx-tlvs port-desc true
/configure port 1/1/c1/1 ethernet lldp dest-mac nearest-bridge tx-tlvs sys-name true
/configure port 1/1/c1/1 ethernet lldp dest-mac nearest-bridge tx-tlvs sys-desc true
/configure port 1/1/c1/1 ethernet lldp dest-mac nearest-bridge tx-tlvs sys-cap true
/configure port 1/1/c1/1 ethernet lldp dest-mac nearest-bridge tx-mgmt-address system admin-state enable
/configure port 1/1/c2 admin-state enable
/configure port 1/1/c2 description "srl-3"
/configure port 1/1/c2 connector breakout c1-100g
/configure port 1/1/c2/1 admin-state enable
/configure port 1/1/c2/1 description "srl-3"
/configure port 1/1/c2/1 ethernet mode hybrid
/configure port 1/1/c2/1 ethernet hold-time up 30
/configure port 1/1/c2/1 ethernet lldp dest-mac nearest-bridge receive true
/configure port 1/1/c2/1 ethernet lldp dest-mac nearest-bridge transmit true
/configure port 1/1/c2/1 ethernet lldp dest-mac nearest-bridge tx-tlvs port-desc true
/configure port 1/1/c2/1 ethernet lldp dest-mac nearest-bridge tx-tlvs sys-name true
/configure port 1/1/c2/1 ethernet lldp dest-mac nearest-bridge tx-tlvs sys-desc true
/configure port 1/1/c2/1 ethernet lldp dest-mac nearest-bridge tx-tlvs sys-cap true
/configure port 1/1/c2/1 ethernet lldp dest-mac nearest-bridge tx-mgmt-address system admin-state enable
/configure port 1/1/c3 admin-state enable
/configure port 1/1/c3 description "7750-CORE-2"
/configure port 1/1/c3 connector breakout c1-100g
/configure port 1/1/c3/1 admin-state enable
/configure port 1/1/c3/1 description "to_7750-CORE-2"
/configure port 1/1/c3/1 ethernet mode hybrid
/configure port 1/1/c3/1 ethernet hold-time up 5
/configure port 1/1/c3/1 ethernet lldp dest-mac nearest-bridge receive true
/configure port 1/1/c3/1 ethernet lldp dest-mac nearest-bridge transmit true
/configure port 1/1/c3/1 ethernet lldp dest-mac nearest-bridge tx-tlvs port-desc true
/configure port 1/1/c3/1 ethernet lldp dest-mac nearest-bridge tx-tlvs sys-name true
/configure port 1/1/c3/1 ethernet lldp dest-mac nearest-bridge tx-tlvs sys-desc true
/configure port 1/1/c3/1 ethernet lldp dest-mac nearest-bridge tx-tlvs sys-cap true
/configure port 1/1/c3/1 ethernet lldp dest-mac nearest-bridge tx-mgmt-address system admin-state enable
/configure port 1/1/c4 admin-state enable
/configure port 1/1/c4 description "DCIGW-1"
/configure port 1/1/c4 connector breakout c1-100g
/configure port 1/1/c4/1 admin-state enable
/configure port 1/1/c4/1 description "DCIGW-1"
/configure port 1/1/c4/1 ethernet mode hybrid
/configure port 1/1/c4/1 ethernet hold-time up 5
/configure port 1/1/c4/1 ethernet lldp dest-mac nearest-bridge receive true
/configure port 1/1/c4/1 ethernet lldp dest-mac nearest-bridge transmit true
/configure port 1/1/c4/1 ethernet lldp dest-mac nearest-bridge tx-tlvs port-desc true
/configure port 1/1/c4/1 ethernet lldp dest-mac nearest-bridge tx-tlvs sys-name true
/configure port 1/1/c4/1 ethernet lldp dest-mac nearest-bridge tx-tlvs sys-desc true
/configure port 1/1/c4/1 ethernet lldp dest-mac nearest-bridge tx-tlvs sys-cap true
/configure port 1/1/c4/1 ethernet lldp dest-mac nearest-bridge tx-mgmt-address system admin-state enable
/configure port 1/1/c5 
/configure port 1/1/c6 
/configure port 1/1/c7 
/configure port 1/1/c8 
/configure port 1/1/c9 
/configure port 1/1/c10 
/configure port 1/1/c11 
/configure port 1/1/c12 
/configure router "Base" autonomous-system 65100
/configure router "Base" interface "system" ipv4 primary address 10.1.1.1
/configure router "Base" interface "system" ipv4 primary prefix-length 32
/configure service vpls "MAC_VRF10" admin-state enable
/configure service vpls "MAC_VRF10" service-id 10
/configure service vpls "MAC_VRF10" customer "1"
/configure service vpls "MAC_VRF10" routed-vpls 
/configure service vpls "MAC_VRF10" sap lag-2:10 
/configure service vprn "DCIGW_VRF" admin-state enable
/configure service vprn "DCIGW_VRF" service-id 100
/configure service vprn "DCIGW_VRF" customer "1"
/configure service vprn "DCIGW_VRF" autonomous-system 65100
/configure service vprn "DCIGW_VRF" ecmp 4
/configure service vprn "DCIGW_VRF" bgp min-route-advertisement 1
/configure service vprn "DCIGW_VRF" bgp bfd-liveness true
/configure service vprn "DCIGW_VRF" bgp rapid-withdrawal true
/configure service vprn "DCIGW_VRF" bgp peer-ip-tracking true
/configure service vprn "DCIGW_VRF" bgp ebgp-default-reject-policy import false
/configure service vprn "DCIGW_VRF" bgp ebgp-default-reject-policy export false
/configure service vprn "DCIGW_VRF" bgp group "7750-CORE2" next-hop-self true
/configure service vprn "DCIGW_VRF" bgp group "7750-CORE2" type internal
/configure service vprn "DCIGW_VRF" bgp group "7750-CORE2" family ipv4 true
/configure service vprn "DCIGW_VRF" bgp group "7750-CORE2" export policy ["export_all"]
/configure service vprn "DCIGW_VRF" bgp group "DCIGW_1" type external
/configure service vprn "DCIGW_VRF" bgp group "DCIGW_1" peer-as 65200
/configure service vprn "DCIGW_VRF" bgp group "DCIGW_1" family ipv4 true
/configure service vprn "DCIGW_VRF" bgp group "DCIGW_1" export policy ["export_all"]
/configure service vprn "DCIGW_VRF" bgp neighbor "172.16.0.1" group "7750-CORE2"
/configure service vprn "DCIGW_VRF" bgp neighbor "172.16.0.3" group "DCIGW_1"
/configure service vprn "DCIGW_VRF" interface "to_7750-CORE2" ipv4 bfd admin-state enable
/configure service vprn "DCIGW_VRF" interface "to_7750-CORE2" ipv4 primary address 172.16.0.0
/configure service vprn "DCIGW_VRF" interface "to_7750-CORE2" ipv4 primary prefix-length 31
/configure service vprn "DCIGW_VRF" interface "to_7750-CORE2" sap 1/1/c3/1:1 
/configure service vprn "DCIGW_VRF" interface "to_MAC_VRF10" ipv4 primary address 192.168.0.253
/configure service vprn "DCIGW_VRF" interface "to_MAC_VRF10" ipv4 primary prefix-length 24
/configure service vprn "DCIGW_VRF" interface "to_MAC_VRF10" ipv4 vrrp 1 backup [192.168.0.254]
/configure service vprn "DCIGW_VRF" interface "to_MAC_VRF10" ipv4 vrrp 1 message-interval 1
/configure service vprn "DCIGW_VRF" interface "to_MAC_VRF10" ipv4 vrrp 1 priority 110
/configure service vprn "DCIGW_VRF" interface "to_MAC_VRF10" ipv4 vrrp 1 ping-reply true
/configure service vprn "DCIGW_VRF" interface "to_MAC_VRF10" vpls "MAC_VRF10" 
/configure service vprn "DCIGW_VRF" interface "to_DCIGW-1" ipv4 bfd admin-state enable
/configure service vprn "DCIGW_VRF" interface "to_DCIGW-1" ipv4 primary address 172.16.0.2
/configure service vprn "DCIGW_VRF" interface "to_DCIGW-1" ipv4 primary prefix-length 31
/configure service vprn "DCIGW_VRF" interface "to_DCIGW-1" sap 1/1/c4/1:1 
/configure system name "7750-CORE-1"
/configure system load-balancing l4-load-balancing true
/configure system load-balancing system-ip-load-balancing true

